* {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $DefaultFontFamily;
  color: $DefaultFontColor;
}

.container {
  margin: 0 auto;
  width: 75rem;
  padding: 0 0.938rem;
}

.section {
  padding: 5.875rem 0;
}

.list-display {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-header {
  text-align: center;
  font-size: 2rem;
  line-height: 1.17;
  letter-spacing: 0.03rem;
  margin-bottom: 3.1rem;
}

