$DefaultFontFamily: 'Roboto', sans-serif;
$SecondaryFontFamily: 'Raleway', sans-serif;
$TransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$TransitionDuration: 250ms;
$DefaultFontColor: rgba(33, 33, 33, 1);
$SecondaryFontColor: rgba(255, 255, 255, 1);
$HoverIconFillColor: rgba(255, 255, 255, 1);
$DefaultBackgroundColor: rgb(245, 244, 250);
$HoverColor: rgb(33, 150, 243);
$MainDescriptionCardColor: rgba(245, 244, 250, 1);
$ClickablesColor: rgba(117, 117, 117, 1);
$SocialLinkColor: rgb(175, 177, 184);
$ClientsIconColor: rgb(175, 177, 184);
$ButtonHoverColor: rgba(0, 124, 214, 1);
$ProductOverlayColor: rgba(33, 150, 243, 0.9);
$ProductBorderColor: rgb(238, 238, 238);
$BackdropColor: rgba(0, 0, 0, 0.5);
$ModalCloseButtonColor: rgb(255, 255, 255);
$ModalCloseButtonHoverColor: rgba(0, 0, 0);
$ModalBackgroundColor: rgb(255, 255, 255);
$ModalFormLabelColor: rgb(117, 117, 117);
$ModalFormPlaceholderColor: rgba(117, 117, 117, 0.5);
$FormFooterCheckboxColor: rgb(255, 255, 255);
$LinkUnderlineColor: rgba(33, 150, 243, 1);
