.main-description {
  padding: 3.75rem 0;
}

.main-description__wrapper {
  @extend .container;
}

.wrapper__description-set {
  @extend .list-display;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.group__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MainDescriptionCardColor;
  height: 7.5rem;
  margin-bottom: 1.875rem;
}

.group__header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.63rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.group__paragraph {
  color: $ClickablesColor;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

// TABLET //
@media screen and (min-width: $TabletStart) and (max-width: $TabletEnd) {
  .description-set__item {
    flex-basis: calc((100% - 1.875rem) / 2);
  }

  .group__header {
    text-align: left;
  }
}

// DESKTOP //
@media screen and (min-width: $DesktopStart) {
  .main-description {
    padding: 5.875rem 0 0 0;
  }

  .description-set__item {
    flex-basis: calc((100% - 5.6rem) / 4);
  }

  .wrapper__description-set {
    flex-wrap: nowrap;
  }

  .group__header {
    text-align: left;
  }
}
