.main-slogan {
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/section/header_background1600.jpg');
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slogan__wrapper {
  @extend .container;
  text-align: center;
  padding: 7.375rem 3.625rem 7.373rem 3.563rem;
}

.wrapper__main-header {
  color: $SecondaryFontColor;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.875rem;
  font-weight: 900;
  font-size: 1.625rem;
  letter-spacing: 0.06em;
  line-height: 1.6;
}

.our-work {
  display: none;
  @extend .section;
}

.our-work__wrapper {
  @extend .container;
}

.wrapper__work-list {
  @extend .list-display;
}

.work-list__item {
  position: relative;
}

.item__work-name {
  position: absolute;
  left: 0;
  top: 14rem;
  width: 100%;
  height: 4.38rem;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-name__slogan {
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 1.69rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $SecondaryFontColor;
}

// DESKTOP //
@media screen and (min-width: $DesktopStart) {
  .our-work {
    display: block;
  }

  .main-slogan {
    max-width: 100rem;
  }

  .main-slogan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12.5rem 0;
  }

  .wrapper__main-header {
    max-width: 43.5rem;
    font-size: 2.75rem;
    line-height: 1.4;
  }
}
