.mobile-menu__wrapper {
  height: 100vh;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle {
  background-color: white;
  outline: none;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform $TransitionDuration $TransitionTimingFunction;

  &__tel {
    font-weight: 500;
    font-size: 34px;
    color: $HoverColor;
    text-decoration: none;
    margin-bottom: 32px;
  }

  &__mail {
    font-weight: 500;
    font-size: 24px;
    color: #757575;
    text-decoration: none;
    margin-bottom: 64px;
  }

  &__link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    transition-property: color;
    transition-duration: $TransitionDuration;
    transition-timing-function: $TransitionTimingFunction;

    &:active,
    &:hover {
      color: $HoverColor;
    }
  }
  &__icon:hover {
    fill: $HoverColor;
  }
}

.mobile-menu__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition-property: color;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;

  &:active {
    color: $HoverColor;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
}

.mobile-menu__socials {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-style: normal;
  column-gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $HoverColor;
}

.mobile-menu__socials {
  .mobile-menu__socials-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 9px;
  }
}

// TABLET //
@media screen and (min-width: $TabletStart) {
  .menu-toggle {
    display: none;
  }
}
