.our-clients {
  padding: 3.75rem 0;
}

.our-clients__wrapper {
  @extend .container;
}

.wrapper__list {
  @extend .list-display;
  flex-wrap: wrap;
}

.link__client-icon {
  fill: $ClientsIconColor;
  transition-property: fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
}

.list__client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  flex-basis: calc((100% - 1.875rem) / 2);
  border: 0.06rem solid rgba(175, 177, 184, 1);
  border-radius: 0.25rem;
  transition-property: border-color, fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;

  &:hover {
    cursor: pointer;
    border: 0.06rem solid rgb(33, 150, 243);
    border-radius: 0.25rem;

    .link__client-icon {
      cursor: pointer;
      fill: $HoverColor;
    }
  }
}

.list__client-card:has(> .client-card__link:focus) .link__client-icon {
  fill: $HoverColor;
}

.list__client-card:has(> .client-card__link:focus) {
  border: 0.06rem solid rgb(33, 150, 243);
  border-radius: 0.25rem;
}

// TABLET //
@media screen and (min-width: $TabletStart) and (max-width: $TabletEnd) {
  .list__client-card {
    flex-basis: calc((100% - 3.75rem) / 3);
  }
}

// DESKTOP //
@media screen and (min-width: $DesktopStart) {
  .wrapper__list {
    @extend .list-display;
    flex-wrap: nowrap;
  }

  .our-clients {
    padding: 5.875rem 0;
  }

  .list__client-card {
    flex-basis: calc((100% - 9.375rem) / 6);
  }
}
