.our-team {
  background-color: $DefaultBackgroundColor;
  padding: 3.75rem 0;
}

.our-team__wrapper {
  @extend .container;
}

.wrapper__header {
  @extend .hero-header;
}

.wrapper__list {
  @extend .list-display;
  flex-wrap: wrap;
}

.list__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1.88rem;
  background-color: $SecondaryFontColor;
  box-shadow: 0rem 0.06rem 0.19rem rgba(0, 0, 0, 0.12), 0rem 0.06rem 0.06rem rgba(0, 0, 0, 0.14),
    0rem 0.13rem 0.06rem rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 0.25rem 0.25rem;
}

.card__image {
  display: block;
  margin-bottom: 1.875rem;
}

.card__name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 0.625rem;
}

.card__job {
  color: $ClickablesColor;
  font-size: 1rem;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

// TABLET //
@media screen and (min-width: $TabletStart) and (max-width: $TabletEnd) {
  .list__card {
    flex-basis: calc((100% - 1.875rem) / 2);
  }
}

// DESKTOP //
@media screen and (min-width: $DesktopStart) {
  .wrapper__list {
    @extend .list-display;
    flex-wrap: nowrap;
  }

  .our-team {
    padding: 5.875rem 0;
  }

  .list__card {
    flex-basis: calc((100% - 7.5rem) / 4);
  }
}
