.our-clients {
  @extend .section;
}

.our-clients__wrapper {
  @extend .container;
}

.link__client-icon {
  fill: $ClientsIconColor;
  transition-property: fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
}

.list__client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 11.25rem) / 6);
  height: 5.75rem;
  border: 0.06rem solid rgba(175, 177, 184, 1);
  border-radius: 0.25rem;
  transition-property: border-color, fill;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;

  &:hover {
    cursor: pointer;
    border: 0.06rem solid rgb(33, 150, 243);
    border-radius: 0.25rem;

    .link__client-icon {
      cursor: pointer;
      fill: $HoverColor;
    }
  }
}

.list__client-card:has(> .client-card__link:focus) .link__client-icon {
  fill: $HoverColor;
}

.list__client-card:has(> .client-card__link:focus) {
  border: 0.06rem solid rgb(33, 150, 243);
  border-radius: 0.25rem;
}
