.footer {
  background-color: rgb(47, 48, 58);
  padding: 3.75rem 0rem 3.75rem;
}

.footer__wrapper {
  @extend .container;
  @extend .list-display;
  align-items: flex-start;
}

.wrapper__address {
  font-style: normal;
}

.address__logo {
  @extend .page-logo;
}

.footer__contact {
  @extend .container;
  @extend .section;
}

.address__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.563rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.link__address-link {
  color: $SecondaryFontColor;
  &:hover {
    color: $HoverColor;
  }
  &:focus {
    color: $HoverColor;
  }
}

.link__contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: $TransitionDuration;
  transition-timing-function: $TransitionTimingFunction;
  &:hover {
    color: $HoverColor;
  }
  &:focus {
    color: $HoverColor;
  }
}

.footer-icons__header {
  color: $SecondaryFontColor;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.footer__list {
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper__footer-icons {
  margin-left: 4.38rem;
  margin-top: 0.75rem;
}

.footer-icons__social {
  @extend .list-display;
}

.footer-form__group {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 35.63rem;
  margin-left: 4.5rem;
}

.group__form-header {
  color: $SecondaryFontColor;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.form-button__newsletter-icon {
  fill: $SecondaryFontColor;
}

.form-label__input-field {
  background-color: rgba(47, 48, 58, 1);
  width: 22.38rem;
  height: 3.13rem;
  padding-left: 1rem;
  border: 0.06rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  color: $SecondaryFontColor;
  outline: none;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.25rem;
    letter-spacing: 0.03em;
  }
  &:focus {
    border: 0.06rem solid $HoverColor;
  }
  &:hover {
    border: 0.06rem solid $HoverColor;
  }
}
